{% extends "base.html.twig" %}

{% block body %}

    <div class="mBox">
        <div class="mTitre">
            <h1>
                <span class>Informations légales</span>
            </h1>
            <p class="mContenu">
                Contenu
            </p>
        </div>
    </div>

{% endblock %}