{% extends "base.html.twig" %}

{% block body %}

    <div class="sc-eHgmQL emtshW styles_Fetched__96N_u">
        <div class="styles_RichText__zr5DC styles_isRoot__Ezf_u">
            <h1>
                <span class>Informations légales</span>
            </h1>
            <p class="styles_p__0H_q7">
                <span class>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit qui laborum ipsa nisi obcaecati a culpa tenetur officiis aperiam, sunt et, iusto iure quibusdam. Iste ea voluptas fugiat corporis quam!</span>
            </p>
        </div>
    </div>

{% endblock %}