html,
body {
  position: relative;
  height: 100%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0;
}

.img-card-custom {
  object-fit: cover;
  width: 18rem;
  height: 200px;
}

.img-custom {
  height: 600px;
  object-fit: cover;
}

.container {
  min-height: calc(100vh - 70px);
}
