<nav class="mainFooter">
    <ul>
        <li style="border:0">
            <a href="" class="hoho">&copy;2022 -  Anaconda</a>
        </li>
        <li>
            <a href="{{ path("default_home") }}" class="hoho">Accueil</a>
        </li>
        <li class="oui">
            <a href="{{ path("mentions") }}" class="hoho">Mention légales</a>
        </li>
        <li>
            <a href="{{ path("cookies") }}" class="hoho">Cookies</a>
        </li>
    </ul>
</nav>