<div class="mainHeader">
  <h1>
    <a href="">
      <img src="http://dbz-dokkanbattle.com/img/ui/logo.png" alt="DBZ Dokkan Batlle France" class="styledLogo">
    </a>
  </h1>
  <nav class="headerMainNav">
    <ul class="headerNavigation">
      <li>
        <a href="" class="headerLinkStyled">Anaconda</a>
      </li>
      <li>
        <a href="" class="headerLinkStyled">Accueil</a>
      </li>
      <li>
        <a href="" class="headerLinkStyled">Machin</a>
      </li>
      <li>
        <a href="" class="headerLinkStyled">Truc</a>
      </li>
    </ul>
  </nav>
</div>