<div class="mainHeader">
  <h1>
    <a href="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png" alt="DBZ Dokkan Batlle France" class="styledLogo">
    </a>
  </h1>
  <nav class="headerMainNav">
    <ul class="headerNavigation">
      <li>
        <a href="" class="headerLinkStyled">Anaconda</a>
      </li>
      <li>
        <a href="{{ path("default_home") }}" class="headerLinkStyled">Accueil</a>
      </li>
      <li>
        <a href="{{ path('show_dashboard') }}" class="headerLinkStyled">Dashboard</a>
      </li>
      <li>
        <a href="{{ path('create_article') }}" class="headerLinkStyled">Ajouter</a>
      </li>
    </ul>
  </nav>
</div>