{% extends "base.html.twig" %}

{% block body %}

    <div class="fo">
        <form action="/tableau-de-bord">
            <label for="fname">Nom du produit</label>
            <input type="text" id="fname" name="firstname" placeholder="Nom du produit...">

            <label for="lname">Description</label>
            <input type="text" id="lname" name="lastname" placeholder="Description...">

            <label for="lname">Prix</label>
            <input type="number" id="lname" name="lastname" placeholder="Prix...">

            <label for="image">Choisir une image</label>
            <input type="file" id="image" name="image" accept="image/png, image/jpeg">


            <input type="submit" value="Ajouter">
        </form>
    </div>

{% endblock %}