{% extends "base.html.twig" %}

{% block body %}

    <h1 class="text-center">Tableau de Bord</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.category.name }}</td>

                    <td>{{ article.title | length > 20 ? article.title | slice(0, 20) ~ '...' : article.title }}</td>

                    
            {% endfor %}
        </tbody>
    </table>

{% endblock %}